*{
    margin: 0;
}
#navbar{
    height:15vh;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
}
input{
    height: 5vh;
}
select{
    height: 5vh;
}
#container{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3,25%);
    row-gap: 25px;
    column-gap: 15px;
    justify-content: center;
}
#container div{
    height: auto;
 box-shadow: 0px 1px 1px 0px;
 display: grid;
place-items: center;
}
#container div img{
    width: 50%;
}