*{
    margin: 0;
}
#container{
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,23%);
    justify-content: center;
    row-gap: 10px;
    column-gap: 15px;
}
#container div{
    border: 2px solid black;
    height: 30vh;
    display: grid;
    row-gap: 15px;
    place-items:center;
}